#profileImage {
    width: 100%;
    max-width: 690px;
    border-radius: 30%;
}

.GitImage {
    width: 100px;
    height: auto;
}

#ResumeImage {
    width: 100px;
    flex: left;
    height: auto;
}

@media  screen and (max-width: 600px) {
    #profile {
        max-width: 150px;
    }
}