html {
    scroll-behavior: smooth;
}

body   {  
height: 125vh;  
margin-top: 10px;  
padding: 50px;  
padding-top: 0;
background-size: cover;  
background-color: #212121;  
font-family:'Times New Roman', Times, serif;
}  

header {   
    background-color: #1a1a1a;
    left: 0;
    right: 0;
    position: fixed;  
    top: 0;  
    height: 35px;  
    display: flex;  
    align-items: center;  
    box-shadow: 0 0 10px 0 rgb(57, 88, 92);
}

header * {  
    display: inline; 
}  

header li a {   
    margin-left: 20px;  
    color: #5798c7;  
    text-decoration: none;  
}  

header li a:hover {
    color: #4f852b;
}

h3 {
    color: #acbdc1;
    line-height: 150%;
}

h4 {
    color: rgb(241, 187, 124);
    margin-bottom: 0;
}

.pageTitle {
    color: rgb(99, 167, 99);
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

.media {
    display: flex;
}

.mediaWrap {
    flex-wrap: wrap;
}

@media  screen and (max-width: 600px) {
    body {
        height: 125vh;  
        margin-top: 5px;  
        padding: 10px;  
        background-size: cover;  
        background-color: #212121;  
    }

    article{
        font-size: 10px;
        flex-wrap: wrap;
        max-width: 50%;
        max-height: 100px;
    }
}