#AboutMe {
}

.profileDescription {
    text-align: center;
    padding-left: 10%;
}

#articleContainer {
   max-width: 65%; 
   min-width: 375px;
}

#Experience {
}



#Certifications {
}



#Projects {
}



#ContactDetails {
}

.h3Contact {
    background-color: #2b2a2a;
    max-width: fit-content;
    border-radius: 25px;
    padding: 20px;
}

.h3Contact:hover {
    background-color: #6d5832;
}

#Phone{

}

#Email{

}

