.pageTitle {
    color: rgb(99, 167, 99);
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

#AboutMe {
}

.profileDescription {
    text-align: center;
}

#articleContainer {
   max-width: 100%; 
   min-width: 375px;
}

#Experience {
}



#Certifications {
}



#Projects {
}



#ContactDetails {
}

.h3Contact {
    background-color: #4163aa;
    border: #36528d;
    border-radius: 25px;
    color: aliceblue;
    max-width: fit-content;
    padding: 15px;
}

.h3Contact:hover {
    background-color: #293a5f;
}

#Email{

}
#GitHub{
}

#Resume{

}

