#AboutMe {
    padding-top: 60px;
}

#Experience {
    padding-top: 60px;
}

#Certifications {
    padding-top: 60px;
}

#Projects {
    padding-top: 60px;
}

#ContactDetails {
    padding-top: 60px;
}